* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 90px;
}

#search {
    text-align: center;
    padding: 20px;
    padding-top: 150px;
    background: white;
}

.span-blu {
    color: #4285F4; 
}

.span-red {
    color: #DB4437;
}

.span-yellow {
    color: #F4B400;
}

.span-green {
    color: #0F9D58;
}

.doc {
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background: #eed89b;
    border-radius: 15px;
    border: 3px solid #DB4437;
}

.no-underline {
    text-decoration: none;
}

#title {
    text-align: center;
}

#search-box {
    width: 50%;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border-radius: 10px;
}

#search-button {
    width: 10%;
    height: 34px;
    margin-left: 10px;
    border-radius: 10px;
}