* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 90px;
}

#search {
    text-align: center;
    padding: 20px;
    background: white;
}

.span-blu {
    color: #4285F4; 
}

.span-red {
    color: #DB4437;
}

.span-yellow {
    color: #F4B400;
}

.span-green {
    color: #0F9D58;
}