<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <br>
    <h1 id="title" class="span-blu"> 
        <span class="span-blu">
            Re
        </span>
        <span class="span-red">
            su
        </span>
        <span class="span-yellow">
            l
        </span> 
        <span class="span-green">
            ts
        </span>
     </h1>
    <br><br>
    {% block content %}
        {% for doc in context %}
            <div class="doc">   
                
                <div>
                    <h4 ></h4>
                        <a  
                            class="no-underline"
                            href="{{ doc["url"] }}" 
                            class="span-blu"
                        >
                            Summary: 
                        </a> 
                    </h4>
                    <br><br>
                    <p>
                        {{ doc["high"] | safe }} 
                    </p>
                </div>
                <br>
                <h5> 
                    <a href="{{ doc["url"] }}" class="span-green">
                        Open document
                    </a> 
                </h5>
                
            </div>
            <br><br>
        {% endfor %}
    {% endblock content %}
</body>
</html>