<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Intelli Search</title>
    
</head>
<body>
    <div id="search">
        <h1 class="header"> 
            <span class="span-blu">
                In
            </span>
            <span class="span-red">
                tel
            </span>
            <span class="span-yellow">
                li
            </span> 
            <span class="span-green">
                -
            </span>
            <span class="span-blu">
                Se
            </span>
            <span class="span-green"> 
               ar 
            </span>
            <span class="span-red">
               ch 
            </span>
        </h1>
        <form 
            action="http://localhost:5000/query" 
            method="get"    
        >
            <input type="text" name="query" 
            placeholder="Type query here" required="required">
            <button type="submit"> Search </button>
        </form>
        
    </div>
</body>
</html>